
*{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('/APP/images/medical-plain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 100 !important


}
#appointment{
    
    width: 100%;
    margin-top: 10%;
     text-align: center;
}





